.card-img-info{
    position: static;
width: 616px;
height: 924px;
left: 0px;
top: 948px;
flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;}


.principe{
    position: absolute;
width: 1366px;
height: 806.32px;
left: 0px;
top: 4217px;
}